<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="container">
        <div class="messages">
    
        </div>
        <div class="inputs">
            <div class="send-message-container">
                <input type="text" id="msg">
                <button type="submit" id="send" for="msg">
                    <span class="material-symbols-outlined">
                    send
                    </span>
                </button>
            </div>
            <!-- <div class="join-room-container">
                <input type="text">
                <button type="submit" id="join">join</button>
            </div> -->
        </div>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/scripts/script.js"></script>
</body>

</html>
